body {
  background-color: #fafafa;
  font-family: 'Andale Mono';
  margin: 0 auto;
}
h1 {
  color: #333;
  font-size: 42px;
  font-weight: 600;
  text-align: right;
  position: relative;
}
h2 {
  color: #bd2c00;
  font-size: 30px;
  width: 420px;
}
h3 {
  color: #333;
  font-size: 24px;
}
h4 {
  color: #bd2c00;
  font-size: 18px;
}
h5 {
  color: #bd2c00;
  font-size: 16px;
}
h6 {
  color: #caccd1;
  font-size: 12px;
}
p {
  color: #333;
  font-size: 16px;
  text-align: center;
  position: fixed;
}
